name: Sample Github Actions Workflow
on:
  push:
    branches:
    - main
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2
      
    - name: Read the file
      run: cat ./README.md